@font-face {
	font-family: Lato;
	src: url(/fonts/Lato-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Lato;
	src: url(/fonts/Lato-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Comfortaa;
	src: url(/fonts/Comfortaa-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Comfortaa;
	src: url(/fonts/Comfortaa-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Shrikhand;
	src: url(/fonts/Shrikhand-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: BubblegumSans;
	src: url(/fonts/BubblegumSans-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: MysteryQuest;
	src: url(/fonts/MysteryQuest-Regular.ttf);
	font-weight: normal;
}
